/* 
font-family: 'Fredoka One', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Saira Condensed', sans-serif;
font-family: 'Unbounded', cursive;
*/


.container__header {
    display:            flex;
        flex-flow: column wrap;
    height:             auto;
    overflow:           hidden;
    position:           relative;
    width:              100%;
}
.navbar{
    display: flex;
    justify-content: end;
    padding:    2rem 5rem;
    width:      100%;
}
.navbar__logo{
    display:    flex;
    animation:      logoAnim 1s forwards linear;
    font-size:      3vw;
    letter-spacing: 1rem;
    width:          100%;
}
@keyframes logoAnim {
    0%{
        transform: translateY(-5rem);
    }
    15%{
        transform: translateY(0rem);
      
      
    }
    30%{
        transform: translateY(-.5rem);
    }
    45%{
        transform: translateY(0rem);
        
     
    }
    55%{
        transform: translateY(-.1rem);
    }
    65%{
        transform: translateY(0rem);
    }
}
.navbar__list{
    list-style: none;
    
}

/* sevtion main */
.svg-test{
    fill:                #8edfff;
    margin-bottom:        1rem;
    position:             relative;
    z-index:              898;
}
/* section number one -----------------------------------------------------------------------------*/
.large{
    position: relative;
    background:         linear-gradient(10deg, #8edfff 30%, rgba(80, 105, 119, 0) 60%); 
    overflow:           hidden;
    z-index:            899;
}

.largeBox{
    display:    flex;
        justify-content:    space-around;
        flex-flow:          row wrap;
        -ms-flex-flow:      row wrap;
    height:         auto;
    margin:         2rem auto;
    padding:        2rem;
  
}

.box-left{
    display:    flex;
        justify-content:    start;
        align-items:        center;
    text-align:     justify;
    padding:        1rem 0 0 0  ;
    width:          50%;
   
    
}
.box-left__content--h1{
    animation:          h1Anim 3s forwards;
    font-size:          4rem;
    font-family:        'Michroma', sans-serif;
    font-family:        'Unbounded', cursive;
}
@keyframes h1Anim {
    0%{
        transform: translateX(-20rem);
        opacity: 0;
    }
    15%{
        transform: translateX(5rem);
      
      
    }
    30%{
        transform: translateX(-.5rem);
    }
    45%{
        transform: translateX(0rem);
        opacity: 1;
     
    }
    55%{
        transform: translateX(-.1rem);
    }
    60%{
        transform: translateY(0rem);
    }
}
.box-left__content--h1 span {
    color:          orangered;
    font-size:      4rem;
    font-family:    'Unbounded', cursive;
}
.box-left__content--p{
    animation:      pAnim 1s forwards;
    color:          orangered;
    font-size:      .8rem;
    font-family:    'Michroma', sans-seri;
    letter-spacing: .2rem;
}
@keyframes pAnim {
    0%{
        transform: translateY(-5rem);
    }
    15%{
        transform: translateY(0rem);
      
      
    }
    30%{
        transform: translateY(-.5rem);
    }
    45%{
        transform: translateY(0rem);
        
     
    }
    55%{
        transform: translateY(-.1rem);
    }
    65%{
        transform: translateY(0rem);
    }
}

.box-right{
    padding:        1rem;
    width:          40%;
}

.box-left__content{

}
.box-right__content{

}

/* ---------------------------------------------------------------------------------------------- */


/* content */


.container__icons{
    display:    flex;
    position:       absolute;
        left:       50%;
        bottom:     2rem;
    transform:  translateX( -50% );
    z-index: 902;
}
.iconTech{
    list-style:     none;
    margin:         0 3rem;

}
.fa-brands , 
.fa-database{
    animation:      iconAnimate 1s alternate-reverse linear infinite ;
    color:         #004966;
    font-size:      3rem;
    opacity:        .8;
}
@keyframes iconAnimate {
    0% {
        transform:  scale( 1 );   
    }
    100% {
        transform:  scale( 1.1 );        
    }
}

/* 
media
*/

@media all and (min-width: 0px) and (max-width: 1200px){
   
    .navbar{
        justify-content: start;
        padding:    2rem 2rem;
    }
    .large{
        height:           auto;  
    }
    .largeBox{
                flex-flow:      column wrap;
                -ms-flex-flow:  column wrap;
                margin:         3rem 0 0 0;
                padding:        .5rem;
    }
    .box-left{
        height: 45%;
        width: 100%;

    }
    
    .box-right{
        height: 45%;
        width: 100%;
    }
    .box-left__content--h1{
        font-size:          2rem;
      
    }
    .box-left__content--h1 span {
       
        font-size:      2rem;
    }
    .navbar__logo{
        font-size:      6vw;
    }
    .container__icons{
        bottom:         .5rem;
    }
    .fa-brands , 
    .fa-database{
        font-size:      1rem;
    }
    .iconTech{
        margin:         0 1rem;
    }
    .navbar__logo{
        display: none;
    }
}
@media all and (min-width: 1201px) and (max-width: 4000px){
    .container__header {
        min-height:     45rem; 
    }
    .header__content{ 
        top:            2.5rem;   
    }
    .container__icons{
        bottom:         .5rem;
    }
    .fa-brands , 
    .fa-database{
        font-size:      2rem;
    }
    .iconTech{
        margin:         0 3rem;
    }

}
