*{
    box-sizing:     border-box;
    font-size:      20px;
    
    font-family:    'Fredoka One', cursive;
    font-family:    'Michroma', sans-serif;
    font-family:    'Paytone One', sans-serif;
    font-family:    'Quattrocento Sans', sans-serif;
    font-family:    'Saira Condensed', sans-serif;
    
    
    margin:         0;
    padding:        0;



}

/* main set */
.offerBox{
    display:    flex;
        flex-flow:      row wrap;
        align-items:    center;
        justify-content:space-around;
    height:     auto;
}

.plan__info{
    position:   relative;
  
}
.plan__info--txt{
    box-shadow:         0px 6px 10px 1px rgba(0, 0, 0, 0.623);
    color:              black;
    background-color: rgb(171, 240, 11);
    position:   absolute;
        left:   -4rem;
        top:    -1rem;
    padding:            .1rem;
    text-align:         center;
    transform:          rotate(-45deg);
    width:              8rem;

}

.plan{
    background:         linear-gradient(45deg, rgb(27, 27, 27) 0%, rgb(70, 70, 70) 100%);
    background-color: rgb(37, 37, 37);
    border-radius:      1rem;
    color:            aliceblue;
    margin:             1rem;
    overflow:           hidden;
    opacity:            .6;
    padding:            2rem;
    transition:         .5s ease-out;
    width:              18rem;
}


.plan__bottomColorA{
    border-bottom:      1rem solid rgb(250, 199, 176);
}
.plan__bottomColorB{
    border-bottom:      1rem solid rgb(241, 143, 98);
}

.plan__bottomColorC{
    border-bottom:      1rem solid rgb(252, 80, 0);
}



.plan:hover{
    box-shadow: 0px 8px 10px -4px black;
    opacity: 1;
    animation: planAnim 2s forwards linear ;
}

@keyframes planAnim {
    0%{
        transform: translateY(0rem);
    }
    15%{
        transform: translateY(-1rem);
    }
    30%{
        transform: translateY(0rem);
    }
    45%{
        transform: translateY(-.2rem);
    }
    55%{
        transform: translateY(0rem);
    }
    65%{
        transform: translateY(-.1rem);
    }
    70%{
        transform: translateY(0rem);
    }
}


.details__items{
    list-style:     none;
}


.fa-solid{
    padding: 0 1rem 0 0;
}
.fa-circle-check{
    color:      greenyellow;
}

.fa-circle-xmark{
    color:      rgb(0, 0, 0);
}
.node ,.postgresql{
    color: rgb(255, 195, 65);
}
/* end main set */

/* set detail box */
.plan__title{
    border-bottom:  1px solid rgba(255, 255, 255, 0.096) ;
    font-size:      1.5rem;
    margin:         0 0 1rem 0;
    text-align:     center;
  

}

.plan__title--planA{
    color:     rgb(250, 199, 176);
}
.plan__title--planB{
    color:     rgb(241, 143, 98);
}
.plan__title--planC{
    color:      rgb(252, 80, 0);
}


.plan__price{
    margin:         0 0 .5rem 0;
}
.plan__price--p{
    color:             rgb(184, 250, 250);
    font-size:          1.3rem;
    letter-spacing:     .2rem;
    text-align:         center;
}
.details__items{
    margin:         .3rem 0;
}

.plan__footer{
    margin:         2rem 0 0 0;
}
.footer__tel{
    cursor:         pointer;
    padding: .1rem;
    overflow:       hidden;
    transition:     1s ease;
    white-space:    nowrap;
    width:          10%;

}
.fa-phone-volume:hover{
    animation: animIconTel 2s infinite;
    
}
@keyframes animIconTel {
    0%{
        color: aliceblue;
        transform: scale(1);
    }
    20%{
        transform: scale(1.1); 
    }
    40%{
        transform: scale(1);
    }
    60%{
        color: rgb(255, 88, 88);
        transform: scale(1.1);
    }
}
.footer__tel--nr{
margin:             0 0 0 .2rem;
}
.footer__tel:hover{
width:      100%;
}
/* end detail box */
